<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #666666;">
    <a class="navbar-brand" style="cursor: pointer;">
        <img  class="d-inline-block align-text-top" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAM1BMVEVHcEyeJDWeJDWeJDWeJDWeJDWeJDWeJDWeJDWeJDWeJDWeJDWeJDWeJDWeJDWeJDWeJDX7JMSnAAAAEXRSTlMAK46zgw3/Y6BRP+Pyc84bwfzk3BkAAAEbSURBVHgBnZMHbgUhDESps7v0+582eUJLQr5QyahZzMPGtjCbrPM+RHNUENJ18m9c9Jx9n1KW8tG/jTGxSLaefNSklN1f30ty5s3Qs9ynH0yRJ4GyBf+873hlowsOKLj7BuKdw05Y2+2aFP5OuCKpQcRUqcLh9dPW0Js4ZkGoffsqkyCUMpBqlhQhnktgEMlk+jO9rC1UPQ+XGB71pGIonwVP2Od9IilvQOqEVRvwq4R1swRSjsYMSpCvgskGHmG5zqFGmUUHRCScZepsE61BQCTCBvEQJcJ8EU4ivKOmVWS7tebVOC9rW2d4131t/iI6Pu9oa/8bMZKUCe/dX8R4JL8/elclw9FHkeml1E7+2gL+vz4v6sH7GrejL01FDmylZvDUAAAAAElFTkSuQmCC"
            alt="">&nbsp;&nbsp;&nbsp;Smart Campus in W311
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link nav_sensor" href="/sensor">Sensor</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav_summary" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sensor Summary
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/sensor/temp_info">Temperature</a></li>
                    <li><a class="dropdown-item" href="/sensor/hum_info">Humidity</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/sensor/light_info">Light</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/sensor/snd_info">SND</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_event" href="/event">Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav_anti_theft" href="/anti-theft">Anti Theft</a>
            </li>
        </ul>
    </div>
</nav>