<HTML>

<head>
    {% include "navigation/header.html" %}
    <title>Smart Campus in W311</title>
</head>

<body>
    <div style="background-color: #666666; height: 60px;">
        <div class="container">
            {% include "navigation/navbar.html" %}
            <div style="height: 100px;"></div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <form id="get-venue-data-form" method="GET" action="/getVenueData">
                            {% csrf_token %}
                            <fieldset>
                                <legend>Get Venue Data</legend>
                                <div class="mb-5">
                                    <label for="venue" class="form-label">Venue</label>
                                    <select id="venue" class="form-select" required>
                                    </select>
                                </div>
                                <div class="mb-5">
                                    <label for="date" class="form-label">Date</label>
                                    <select id="date" class="form-select" required>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="time" class="form-label">Time</label>
                                    <select id="time" class="form-select" required>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div style="height: 75px;"></div>
                    <div id="result" class="row row-cols-auto">
                        <div class="col">
                            <div class="card" style="width: 22rem;">
                                {% load static %}
                                <img id="result_venue_img" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h1 id="result_venue" class="text-center"></h1>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <ul class="list-group list-group-flush">
                                <li id="result_event" class="list-group-item"></li>
                                <li id="result_instructor" class="list-group-item"></li>
                                <li id="result_date" class="list-group-item"></li>
                                <li id="result_time" class="list-group-item"></li>
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-primary" style="width: 100%;"
                                        data-bs-toggle="collapse" data-bs-target="#collapseEnv" aria-expanded="false"
                                        aria-controls="collapseEnv">Environmental Data</button>
                                </li>
                            </ul>
                            <ul class="list-group list-group-flush collapse text-center" id="collapseEnv">
                                <li class="list-group-item">
                                    <h5>Average</h5>
                                </li>
                                <li id="result_temp_avg" class="list-group-item"></li>
                                <li id="result_hum_avg" class="list-group-item"></li>
                                <li id="result_light_avg" class="list-group-item"></li>
                                <li id="result_snd_avg" class="list-group-item"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "navigation/footer.html" %}
        <script>

            var images = {
                "W311-H1": "{% static 'images/W311-H1.jpg' %}",
                "W311-H2": "{% static 'images/W311-H2.jpg' %}",
                "W311-H3": "{% static 'images/W311-H3.jpg' %}",
                "W311a": "{% static 'images/W311a.jpg' %}",
                "W311b": "{% static 'images/W311b.jpg' %}",
                "W311d-Z1": "{% static 'images/W311d-Z1.jpg' %}",
                "W311d-Z2": "{% static 'images/W311d-Z2.jpg' %}"
            }

            $(document).ready(function () {

                $("#result").hide();

                $("#venue").empty();
                $("#date").empty();
                $("#time").empty();

                let selection = JSON.parse('{{ selection|escapejs }}');
                venue_selected = Object.keys(selection)[0];
                date_selected = Object.keys(selection[venue_selected])[0];
                time_selected = selection[venue_selected][date_selected][0];

                for (let v in selection) {
                    $("#venue").append(`<option value="${v}">${v}</option>`);
                }

                for (let d in selection[venue_selected]) {
                    $("#date").append(`<option value="${d}">${d}</option>`);
                }

                for (let i = 0; i < selection[venue_selected][date_selected].length; i++) {
                    t = selection[venue_selected][date_selected][i]
                    $("#time").append(`<option value="${t}">${convertTime(t[0], t[1])}</option>`);
                }

                $("#venue").on("change", function (e) {
                    venue_selected = $("#venue").val();
                    date_selected = Object.keys(selection[venue_selected])[0];
                    time_selected = selection[venue_selected][date_selected][0];

                    $("#date").empty();
                    $("#time").empty();

                    for (let d in selection[venue_selected]) {
                        $("#date").append(`<option value="${d}">${d}</option>`);
                    }

                    for (let i = 0; i < selection[venue_selected][date_selected].length; i++) {
                        t = selection[venue_selected][date_selected][i]
                        $("#time").append(`<option value="${t}">${convertTime(t[0], t[1])}</option>`);
                    }
                });

                $("#date").on("change", function (e) {
                    date_selected = $("#date").val();
                    time_selected = selection[venue_selected][date_selected][0];

                    $("#time").empty();
                    for (let i = 0; i < selection[venue_selected][date_selected].length; i++) {
                        t = selection[venue_selected][date_selected][i]
                        $("#time").append(`<option value="${t}">${convertTime(t[0], t[1])}</option>`);
                    }
                });

                $('#get-venue-data-form').on('submit', function (event) {
                    event.preventDefault();
                    getVenueData();
                });
            });

            function convertTime(start_time, end_time) {
                start_time = start_time.split(":");
                end_time = end_time.split(":");

                start_time_hour = start_time[0];
                end_time_hour = end_time[0];

                start_time_min = start_time[1];
                end_time_min = end_time[1];

                start_time_ampm = start_time_hour >= 12 ? "p.m." : "a.m.";
                end_time_ampm = end_time_hour >= 12 ? "p.m." : "a.m.";

                start_time_hour = start_time_hour % 12;
                end_time_hour = end_time_hour % 12;

                start_time_hour = start_time_hour ? start_time_hour : "12";
                end_time_hour = end_time_hour ? end_time_hour : "12";

                return start_time_hour + ":" + start_time_min + " " + start_time_ampm + " - "
                    + end_time_hour + ":" + start_time_min + " " + end_time_ampm;
            }

            function getVenueData() {
                $.ajax({
                    url: "getVenueData",
                    type: "GET",
                    data: {
                        venue: $('#venue').val(),
                        date: $('#date').val(),
                        time: $('#time').val()
                    },

                    success: function (json) {
                        let result = JSON.parse(json);

                        venue = result[0].fields.venue;
                        date = result[0].fields.date;
                        time_start = result[0].fields.time_start;
                        time_end = result[0].fields.time_end;
                        event = result[0].fields.event;
                        instructor = result[0].fields.instructor;

                        temp = result[0].fields.avg_temp;
                        hum = result[0].fields.avg_hum;
                        light = result[0].fields.avg_light;
                        snd = result[0].fields.avg_snd;

                        temp = temp === undefined ? "No record" : parseFloat(temp).toFixed(2) + "&deg;C";
                        hum = hum === undefined ? "No record" : parseFloat(hum).toFixed(2) + "%";
                        light = light === undefined ? "No record" : parseFloat(light).toFixed(2) + "%";
                        snd = snd === undefined ? "No record" : parseFloat(snd).toFixed(2) + "dB";

                        $("#result_venue").html(venue);
                        $("#result_event").html(`Event: ${event}`);
                        $("#result_instructor").html(`Instructor: ${instructor}`);
                        $("#result_date").html(`Date: ${date}`);
                        $("#result_time").html(`Time: ${convertTime(time_start, time_end)}`);

                        $("#result_temp_avg").html(`<span class="fa-solid fa-temperature-half" aria-hidden="true"></span> ${temp}`);
                        $("#result_hum_avg").html(`<span class="fa-solid fa-droplet" aria-hidden="true"></span> ${hum}`);
                        $("#result_light_avg").html(`<span class="fa-solid fa-lightbulb" aria-hidden="true"></span> ${light}`);
                        $("#result_snd_avg").html(`<span class="fa-solid fa-volume-low" aria-hidden="true"></span> ${snd}`);

                        $("#result_venue_img").attr("src", images[venue]);

                        $("#result").show();
                    },

                    error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            };
        </script>
</body>

</HTML>