<HTML>

<head>
    {% include "navigation/header.html" %}
    <title>Smart Campus in W311</title>
</head>

<body>
    <div style="background-color: #666666; height: 60px;">
        <div class="container">
            {% include "navigation/navbar.html" %}
            <div style="height: 30px;"></div>

            <form id="get-venue-data-form" method="GET" action="/getVenueData">
                {% csrf_token %}
                <fieldset>
                    <legend>Get venue data</legend>
                    <div class="mb-3 w-50">
                        <label for="venue" class="form-label">Venue</label>
                        <select id="venue" class="form-select" required>
                        </select>
                    </div>
                    <div class="mb-3 w-50">
                        <label for="date" class="form-label">Date</label>
                        <select id="date" class="form-select" required>
                        </select>
                    </div>
                    <div class="mb-3 w-50">
                        <label for="time" class="form-label">Time</label>
                        <select id="time" class="form-select" required>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <td width=10%>Venue</td>
                        <td width=10%>Date</td>
                        <td width=10%>Start</td>
                        <td width=10%>End</td>
                        <td width=10%>Event</td>
                        <td width=10%>Instructor</td>
                        <td width=10%>Avg. Temp</td>
                        <td width=10%>Avg. Humidity</td>
                        <td width=10%>Avg. Light</td>
                        <td width=10%>Avg. Sound</td>
                    </tr>
                </thead>
                <br>
                <tbody id="result">
                </tbody>
            </table>
        </div>

        {% include "navigation/footer.html" %}
        <script>
            $(document).ready(function () {

                $("#venue").empty();
                // $("#venue").append("<option value='all'>All</option>");
                $("#date").empty();
                // $("#date").append("<option value='all'>All</option>");
                $("#time").empty();
                // $("#time").append("<option value='all'>All</option>");

                let selection = JSON.parse('{{ selection|escapejs }}');
                venue_selected = Object.keys(selection)[0];
                date_selected = Object.keys(selection[venue_selected])[0];
                time_selected = selection[venue_selected][date_selected][0];

                for (let v in selection) {
                    $("#venue").append(`<option value="${v}">${v}</option>`);
                }

                for (let d in selection[venue_selected]) {
                    $("#date").append(`<option value="${d}">${d}</option>`);
                }

                for (let i = 0; i < selection[venue_selected][date_selected].length; i++) {
                    t = selection[venue_selected][date_selected][i]
                    $("#time").append(`<option value="${t}">${convertTime(t)}</option>`);
                }

                $("#venue").on("change", function (e) {
                    venue_selected = $("#venue").val();
                    date_selected = Object.keys(selection[venue_selected])[0];
                    time_selected = selection[venue_selected][date_selected][0];

                    $("#date").empty();
                    $("#time").empty();

                    for (let d in selection[venue_selected]) {
                        $("#date").append(`<option value="${d}">${d}</option>`);
                    }

                    for (let i = 0; i < selection[venue_selected][date_selected].length; i++) {
                        t = selection[venue_selected][date_selected][i]
                        $("#time").append(`<option value="${t}">${convertTime(t)}</option>`);
                    }
                });

                $("#date").on("change", function (e) {
                    date_selected = $("#date").val();
                    time_selected = selection[venue_selected][date_selected][0];

                    $("#time").empty();
                    for (let i = 0; i < selection[venue_selected][date_selected].length; i++) {
                        t = selection[venue_selected][date_selected][i]
                        $("#time").append(`<option value="${t}">${convertTime(t)}</option>`);
                    }
                });

                $('#get-venue-data-form').on('submit', function (event) {
                    event.preventDefault();
                    getVenueData();
                });
            });

            function convertTime(arr) {
                return arr[0] + " - " + arr[1];
            }

            function getVenueData() {
                $.ajax({
                    url: "getVenueData",
                    type: "GET",
                    data: {
                        venue: $('#venue').val(),
                        date: $('#date').val(),
                        time: $('#time').val()
                    },

                    success: function (json) {

                        $("#result").empty();

                        let result = JSON.parse(json);
                        for (let i = 0; i < result.length; i++) {
                            venue = result[i].fields.venue;
                            date = result[i].fields.date;
                            time_start = result[i].fields.time_start;
                            time_end = result[i].fields.time_end;
                            event = result[i].fields.event;
                            instructor = result[i].fields.instructor;
                            temp = result[i].fields.avg_temp;
                            hum = result[i].fields.avg_hum;
                            light = result[i].fields.avg_light;
                            snd = result[i].fields.avg_snd;

                            $("#result").append("<tr>");
                            $("#result").append(`<td>${venue}</td>`);
                            $("#result").append(`<td>${date}</td>`);
                            $("#result").append(`<td>${time_start}</td>`);
                            $("#result").append(`<td>${time_end}</td>`);
                            $("#result").append(`<td>${event}</td>`);
                            $("#result").append(`<td>${instructor}</td>`);
                            $("#result").append(`<td>${temp} C</td>`);
                            $("#result").append(`<td>${hum} %</td>`);
                            $("#result").append(`<td>${light} lm</td>`);
                            $("#result").append(`<td>${snd} dB</td>`);
                            $("#result").append("</tr>");
                        }
                    },

                    error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            };
        </script>
</body>

</HTML>