<HTML>

<head>
    {% include "navigation/header.html" %}
    <title>Smart Campus in W311</title>
</head>

<body>
    <div class="container">
        {% include "navigation/navbar.html" %}
        <div style="height: 30px;"></div>

        <form>
            <fieldset>
                <legend>Get venue data</legend>
                <div class="mb-3 w-50">
                    <label for="venue" class="form-label">Venue</label>
                    <select id="venue" class="form-select" required>
                        <option>Disabled select</option>
                    </select>
                </div>
                <div class="mb-3 w-50">
                    <label for="date" class="form-label">Date</label>
                    <select id="date" class="form-select" required>
                    </select>
                </div>
                <div class="mb-3 w-50">
                    <label for="time" class="form-label">Time</label>
                    <select id="time" class="form-select" required>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
        <script>
            var my_dict = JSON.parse('{{ selection|escapejs }}');
            console.log(my_dict)
        </script>



        <form action="test" method="post">
            {% csrf_token %}
            <select name="location">
                <option value="W311a">W311a</option>
                <option value="W311b">W311b</option>
                <option value="W311-H1">W311-H1</option>
                <option value="W311-H2">W311-H2</option>
                <option value="W311-H3">W311-H3</option>
                <option value="W311d-Z1">W311d-Z1</option>
                <option value="W311d-Z2">W311d-Z2</option>
            </select>
            <select name="date">
                <option value="9">9/6</option>
                <option value="10">10/6</option>
                <option value="11">11/6</option>
                <option value="12">12/6</option>
                <option value="13">13/6</option>
                <option value="14">14/6</option>

            </select>
            <select name="start">
                <option value="8">8:00</option>
                <option value="9">9:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
            </select>
            <select name="end">
                <option value="8">8:00</option>
                <option value="9">9:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
            </select>
            {{ form.as_select}}
            <input type="submit" value="Submit">
        </form>

        <table class="table table-dark">
            <thead class="table-dark">
                <tr>
                    <td>venue</td>
                    <td>date</td>
                    <td>time start</td>
                    <td>time end</td>
                    <td>event</td>
                    <td>instructor</td>
                </tr>
            </thead>
            <thead class="table-dark"></thead>
            <!--
            {% for event in selection %}
            <tr>
                <td>{{event.venue}}</td>
                <td>{{event.date}}</td>
                <td>{{event.time_start|date:'H:i A'}}</td>
                <td>{{event.time_end|date:'H:i A'}}</td>
                <td>{{event.event}}</td>
                <td>{{event.instructor}}</td>
            </tr>
            {% endfor %}
        -->
            </thead>
        </table>
    </div>
    {% include "navigation/footer.html" %}
</body>

</HTML>