<!doctype html>
<HTML>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>IC2140 IoT sensor
    </title>
</head>

<body>
    <h1 class="display-3 p-3 mb-2 bg-dark text-white">IC2140 IoT Dashboard</h1>
    <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.flexmonster.com/theme/dark/flexmonster.min.css" />

    <div id="pivot-container"></div>
    <script>
        function processData(dataset) {
            var result = []
            dataset = JSON.parse(dataset);
            dataset.forEach(item => result.push(item.fields));
            return result;
        }
    </script>

    <script>
        $.ajax({
            url: '/sensor/temp_data',
            dataType: 'json',
            success: function (data) {
                new Flexmonster({
                    container: "#pivot-container",
                    componentFolder: "https://cdn.flexmonster.com/",
                    toolbar: true,
                    report: {
                        dataSource: {
                            type: "json",
                            data: processData(data),
                            mapping: {
                                "node_id": { "caption": "ID" },
                                "node_loc": { "caption": "Location", "filters": false },
                                "temp": { "caption": "Temperature", "type": "number" },
                                "hum": { "caption": "Humidity", "type": "number" },
                                "light": { "caption": "Light", "type": "number" },
                                "snd": { "caption": "SND", "type": "number" },
                                "date_created": { "caption": "Created Date", "type": "datetime", "filters": false }
                            },
                        },
                        slice: {
                            rows: [
                                { uniqueName: "date_created" },
                            ],
                            columns: [
                                { uniqueName: "node_loc" },
                                { uniqueName: "[measures]", label: "Temperature" },
                                { uniqueName: "[measures]", label: "Humidity" },
                                { uniqueName: "[measures]", label: "Light" },
                                { uniqueName: "[measures]", label: "SND" },
                            ],
                            measures: [
                                {
                                    uniqueName: "temp",
                                    //format: "degree",
                                },
                                {
                                    uniqueName: "hum",
                                    //format: "degree",
                                },
                                {
                                    uniqueName: "light",
                                    //format: "degree",
                                },
                                {
                                    uniqueName: "snd",
                                    //format: "degree",
                                }
                            ]
                        },
                        // formats: [
                        //     {
                        //         name: "degree",
                        //         decimalPlaces: 2,
                        //     }
                        // ],
                        conditions: [
                            {
                                formula: "#value < 25",
                                measure: "temp",
                                format: {
                                    "color": "#FF0000"
                                }
                            }
                        ],
                        options: {
                            viewType: "charts",
                            showAggregationLabels: false ,
                            chart: {
                                
                                title: "IoT Sensor",
                                type: "line",
                            },
                        },
                    }
                });
            }
        });
    </script>
    <script>
        function getFeed() {
            $.ajax({
                url: '/sensor/temp_data',
                dataType: 'json',
                success: function (data) {
                    flexmonster.updateData({
                        data: processData(data)
                    });
                },
                complete: function (data) {
                    setTimeout(getFeed, 10000);
                }
            });
        }
        $(document).ready(function () {
            setTimeout(getFeed, 10000); // 10 seconds
        });
    </script>


</body>

</HTML>