<!doctype html>
<HTML>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title> Smart Campus Sensor W311a Info</title>

</head>

<body>
    <h1 class="display-3 p-3 mb-2 bg-light text-dark">Smart Campus Sensor W311a Info</h1>
    <table class="table table-striped table-hover">
        <thead class="table-success">
            <tr>
                <th colspan="7" style="text-align:center; font-size:25px;">Temperature</th>
            </thead>
                <tr>
                <th width="10%">Sensor ID</th>
                <th width="10%">Location</th>
                <th width="20%">MAX. Temperature</th>
                <th width="20%">MIN. Temperature</th>
                <th width="20%">AVG. Temperature</th>
                <th width="20%">Last Updated</th>
            </tr>
        
        <tbody>

            {% for i in info %}
            <tr>
                <td>{{ i.node_id }}</td>
                <td>{{ i.node_loc_upper }}</td>

                {% if i.max_temp > '29' %}
                    <td style="color: red;">
                {% elif i.max_temp < '21' %}
                    <td style="color: blue;">
                {% else %}
                    <td>
                {% endif %}
                {{ i.max_temp }}</td>

                {% if i.min_temp > '29' %}
                    <td style="color: red;">
                {% elif i.min_temp < '21' %}
                    <td style="color: blue;">
                {% else %}
                    <td>
                {% endif %}
                {{ i.min_temp }}</td>

                {% if i.avg_temp > '29' %}
                    <td style="color: red;">
                {% elif i.avg_temp < '21' %}
                    <td style="color: blue;">
                {% else %}
                    <td>
                {% endif %}
                {{ i.avg_temp|floatformat:2 }}</td>

                <td>{{ i.last_updated }}</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

    <br>
    <table class="table table-striped table-hover">
        <thead class="table-primary">
            <tr>
                <th colspan="7" style="text-align:center; font-size:25px;">Humidity</th>
            </thead>
                <tr>
                <th width="10%">Sensor ID</th>
                <th width="10%">Location</th>
                <th width="20%">MAX. Humidity</th>
                <th width="20%">MIN. Humidity</th>
                <th width="20%">AVG. Humidity</th>
                <th width="20%">Last Updated</th>
            </tr>
        
        <tbody>

            {% for i in info %}
            <tr>
                <td>{{ i.node_id }}</td>
                <td>{{ i.node_loc_upper }}</td>

              
                <td>{{ i.max_hum }}</td>
           
                <td>{{ i.min_hum }}</td>

                <td>{{ i.avg_hum|floatformat:2 }}</td>

                <td>{{ i.last_updated }}</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

    <br>
    <table class="table table-striped table-hover">
        <thead class="table-warning">
            <tr>
                <th colspan="7" style="text-align:center; font-size:25px;">Light</th>
            </thead>
                <tr>
                <th width="10%">Sensor ID</th>
                <th width="10%">Location</th>
                <th width="20%">MAX. Light</th>
                <th width="20%">MIN. Light</th>
                <th width="20%">AVG. Light</th>
                <th width="20%">Last Updated</th>
            </tr>
        
        <tbody>

            {% for i in info %}
            <tr>
                <td>{{ i.node_id }}</td>
                <td>{{ i.node_loc_upper }}</td>
                    
                <td>{{ i.max_light }}</td>

                <td>{{ i.min_light }}</td>

                <td>{{ i.avg_light|floatformat:2 }}</td>

                <td>{{ i.last_updated }}</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

    <br>
    <table class="table table-striped table-hover">
        <thead class="table-danger">
            <tr>
                <th colspan="7" style="text-align:center; font-size:25px;">Sound</th>
            </thead>
                <tr>
                <th width="10%">Sensor ID</th>
                <th width="10%">Location</th>
                <th width="20%">MAX. Sound</th>
                <th width="20%">MIN. Sound</th>
                <th width="20%">AVG. Sound</th>
                <th width="20%">Last Updated</th>
            </tr>
        
        <tbody>

            {% for i in info %}
            <tr>
                <td>{{ i.node_id }}</td>
                <td>{{ i.node_loc_upper }}</td>

                <td>{{ i.max_snd }}</td>

                <td>{{ i.min_snd }}</td>

                <td> {{ i.avg_snd|floatformat:2 }}</td>

                <td>{{ i.last_updated }}</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

</body>

</HTML>