<!doctype html>
<HTML>

<head>
    {% include "navigation/header.html" %}
    <title>Smart Campus in W311</title>
</head>

<body>
    <!--
    <h1 class="display-3 p-3 mb-2 bg-light text-dark">Smart Campus Sensor W311a Info</h1>
    -->
    <div class="container">
        {% include "navigation/navbar.html" %}
        <div style="height: 50px;"></div>
        <table class="table table-striped table-hover">
            <thead class="table-default">
                <tr>
                    <th colspan="7" style="text-align:center; font-size:25px;">Temperature</th>
            </thead>
            <tr>
                <th width="10%">Sensor ID</th>
                <th width="15%">Location</th>
                <th width="20%">MAX. Temperature</th>
                <th width="20%">MIN. Temperature</th>
                <th width="15%">AVG. Temperature</th>
                <th width="20%">Last Updated</th>
            </tr>

            <tbody>

                {% for i in info %}
                <tr>
                    <td>{{ i.node_id }}</td>
                    <td>{{ i.node_loc }}</td>

                    {% if i.max_temp > '29' %}
                    <td style="color: red;">
                        {% elif i.max_temp < '21' %} <td style="color: blue;">
                            {% else %}
                    <td>
                        {% endif %}
                        {{ i.max_temp }}</td>

                    {% if i.min_temp > '29' %}
                    <td style="color: red;">
                        {% elif i.min_temp < '21' %} <td style="color: blue;">
                            {% else %}
                    <td>
                        {% endif %}
                        {{ i.min_temp }}</td>

                    {% if i.avg_temp > '29' %}
                    <td style="color: red;">
                        {% elif i.avg_temp < '21' %} <td style="color: blue;">
                            {% else %}
                    <td>
                        {% endif %}
                        {{ i.avg_temp|floatformat:2 }}</td>

                    <td>{{ i.last_updated }}</td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    {% include "navigation/footer.html" %}
    </tbody>
    </table>

</body>

</HTML>